.table {
  background-color: #fff;
  /* height: 40px; */
  animation: lookBlock1 1s;
}
.table > div {
  border: 1px solid #fafafa;
  border-radius: 8px;
  text-align: center;
  color-scheme: light;
  height: 800px;
  background-color: f;
  /* grid-template-rows: 40px 4em 40px; */
  grid-template-rows: repeat(100, 1fr) !important;
  /* grid-template-columns: auto !important; */
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.table > div > div {
  background-color: #fafafa !important;
  color: rgba(0, 0, 0, 0.76);
  border: 1px solid transparent !important;
  /* border: 1px solid #f0f0; */
}
.table > div > div > div {
  background-color: #fa0 !important;
  color: rgba(0, 0, 0, 0.76);
  border: 1px solid transparent !important;
  width: 200px;

  /* border: 1px solid #f0f0; */
}
